.navbar {
  margin-top: 25px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-logo p {
  color: gray;
  font-size: 13px;
}
.header-logo {
  width: 20%;
}
.header-right {
  width: 70%;
}

.header-social {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(197, 197, 197);
  justify-content: space-between;
}
.num {
  color: #1f84be;
  font-size: 13px;
}
.social-ico a {
  color: gray;
  display: flex;
  align-items: center;
  font-size: 13px;
}
.social-ico a img {
  width: 18px;
  margin-right: 5px;
}
.social-ico {
  display: flex;
}
.ico-fb {
  padding: 12px 18px;
  border-right: 1px solid rgb(197, 197, 197);
  transition: all 0.3s ease;
}
.ico-fb i {
  font-size: 14px;
  color: gray;
}
.twiter {
  border-bottom: 5px solid #58c7ff;
}
.fb {
  border-bottom: 5px solid #466bc6;
}
.time-link {
  transition: all 0.3s ease;

  margin-right: 20px;
}
.fb:hover {
  background-color: #466bc6;
  transition: all 0.3s ease;
}
.fb:hover i {
  color: white;
}
.twiter:hover {
  background-color: #58c7ff;
  transition: all 0.3s ease;
}
.twiter:hover i {
  color: white;
}
.header-links ul {
  display: flex;
  justify-content: right;
  flex-direction: row;
}
.header-links ul li {
  padding: 15px 0;
}
.header-links ul li a {
  box-sizing: border-box;
  color: #4a525d;
  font-size: 14px;
  transition: all 0.3s ease;
  padding: 6px 20px;
}
.active-link {
  color: white !important;
  background-color: #4a525d;
}
.header-links ul li a:hover {
  color: white !important;
  background-color: #4a525d;
  transition: all 0.3s ease;
}
.time-link:hover {
  color: rgb(70, 70, 70);
  transition: all 0.3s ease;
}
.mbl-only {
  display: none;
}
.hidden {
  display: none !important;
}
@media (max-width: 768px) {
  .header-right {
    justify-content: center;
  }
  .header-logo {
    width: 100%;
  }
  .mbl-only {
    display: block;
    /* background-color: black; */
  }
  .header-social {
    display: none;
  }
  .bar {
    display: flex;
  }

  .top-bar {
    /* padding: 10px 0; */
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .bg-black {
    background-color: black;
  }
  .container-width {
    width: 95vw;
  }
  .bar i {
    font-size: 21px;
    color: white;
  }
  .mbl-no i {
    margin-right: 5px;
    font-size: 18px;
    color: white;
  }
  .header-links ul li a:hover {
    color: white !important;
    background-color: transparent;
    transition: all 0.3s ease;
  }
  .mbl-no {
    color: white;
  }
  .header-links ul li:hover a {
    color: white;
  }
  .header-links ul li:hover {
    color: white !important;
    background-color: #4a525d;
    transition: all 0.3s ease;
  }
  .active-link {
    background-color: transparent;
    color: #4a525d !important;
  }
  .header-links ul li {
    padding: 10px 0;
  }
  .header-links ul {
    flex-direction: column;
    background-color: #dee6ee;
    /* padding: 10px 15px; */
  }

  .navbar {
    display: block;
  }
  .header-links {
    height: 0;
    transition: all 0.4s ease;
    overflow: hidden;
    position: absolute;
    top: 43px;
    z-index: 999999;
    text-align: left;
    width: 200px;
    left: 0;
  }
  .header-links {
    background-color: #dee6ee;
  }
  .header-links .mbl-only {
    text-align: center;
  }
  .mbl-only hr {
    border: none;
    margin-bottom: 15px;
    border-top: 1px solid white !important;
  }
  .mbl-only .ico-fb {
    padding: 10px 0;
  }
  .no-border {
    border: none !important;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.705);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
  }
  .close-bar {
    background-color: #dee6ee;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    padding: 10px 18px;
  }
  .full-open {
    height: 362px;
    transition: all 0.4s ease;
  }
}
