.carousel.carousel-slider .control-arrow:hover {
  background: transparent !important;
}

.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  bottom: 0;
  margin-top: 0;
  padding: 15px !important;
}
.sog {
  position: absolute;
  bottom: 0;
  left: 150px;
  z-index: 9;
  color: white;
  background-color: #0ebae8;
  padding: 10px 19px;
}
.carousel-area {
  position: relative;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .sog {
    width: 100%;
    left: 0;
    text-align: left;
    box-sizing: border-box;
  }
}
